@{
    ViewBag.Title = "Contact";
}

<div class="width-custom">
    <h2>UniStore</h2>
    <hr />
    <h5>@ViewBag.Title</h5>

    <address>
        Bulgaria<br />
        Sofia<br />
    </address>

    <address>
        <strong>GitHub:</strong>
        <a href="https://github.com/krasimalakov/UniStore-project-ASP.NET-MVC">https://github.com/krasimalakov/UniStore-project-ASP.NET-MVC</a><br />
        <strong>E-mail:</strong> <a href="mailto:k_malakov@mail.bg">k_malakov@mail.bg</a>
    </address>
</div>

