@using System.Web.Mvc.Html
@using UniStore.App.HtmlHelperExrensions
@model UniStore.Models.ViewModels.Product.DetailsProductVM

<div>
    <div class="card">
        <div class="" style="height: 300px; display: flex;">
            @Html.ImageFromFile(Model.ImageUrl, "card-img-top product-details-image", "No sample image!")
        </div>
        <div class="card-block">
            <h4 class="card-title">@Model.Name</h4>
            <p class="card-text">
                Price: <strong>@Model.Price</strong>
            </p>
            <p class="card-text">@Model.Description</p>
        </div>

    </div>
</div>