@model UniStore.Models.Pagination
@{
    ViewBag.Title = "Manufacturers";
}

<h2>Manufacturers</h2>

<div class="row">
    @using (Ajax.BeginForm("ManufacturersList", "Manufacturers", null,
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "manufacturersList"
        },
        new { @class = "col-lg-4" }))
    {
        <div class="input-group">
            @Html.EditorFor(model=>model.Search, new { htmlAttributes= new {@class="form-control max-width"}})
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Search</button>
            </span>
        </div>
    }


    @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-primary" })
</div>

<br/>

<div id="manufacturersList">
    @Html.Action("ManufacturersList", new { search = "" })
</div>